<section class="container">
  <h1>Contact me</h1>
  <%= flash[:notice] %>
  <%= form_with(url:"/pages/thank_you", method: "post", local: true) do |form| %>
  <div calss="row">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, size: 30, class: "input", placeholder: "Please enter your name", required: true %>
    </div>
    <div class="form-group">
      <%= form.label :subject %>
      <%= form.text_field :subject,  size: 30, class: "input", placeholder: "Add a subject" %>
    </div>
    <div class="form-group">
      <%= form.label :email %>
      <%= form.email_field :email,  size: 30, class: "input", placeholder: "Please enter your Email-address here", required: true %>
    </div>
    <div class="form-group">
      <%= form.label :message %>
      <%= form.text_area :message,  cols: 30, rows: 8, class: "input", rows: 5, placeholder: "Write your message here", required: true %>
    </div>
    <div class="actions">
      <%= form.submit "Send", class: "btn btn-dark" %>
    </div>
    <% end %>
  </div><!-- /row -->

  <p>Tousled 8-bit lumbersexual four dollar toast jean shorts distillery. Health
    goth vexillologist squid keytar gentrify. Activated charcoal enamel pin af,
    fanny pack pop-up mumblecore letterpress you probably haven't heard of them.
    Vaporware direct trade vexillologist street art blog, aesthetic tousled
    distillery organic messenger bag fingerstache pork belly hashtag tumblr
    pour-over. Kickstarter distillery lumbersexual DIY schlitz, whatever wolf
    gastropub unicorn mixtape poutine food truck umami vice. Heirloom health goth
    master cleanse, paleo church-key pug portland deep v skateboard tofu coloring book.
  </p>

  <p>Vice truffaut activated charcoal pickled migas hoodie waistcoat subway tile
    slow-carb mixtape PBR&B asymmetrical church-key pinterest put a bird on it.
    Tilde taxidermy ennui, tumeric kale chips paleo before they sold out lomo
    quinoa tofu cray. Venmo godard synth, marfa vinyl organic poke occupy pickled
    keytar kickstarter YOLO. Prism succulents listicle art party subway tile man
    bun organic flexitarian gentrify tousled gastropub. Slow-carb locavore air
    plant schlitz lyft offal. Synth cornhole beard try-hard poke keffiyeh banjo.
  </p>

</section>
