<p id="notice"><%= notice %></p>
<section class="container">
  <h1>Posts</h1>

  <div class="container posts">
    <div class="row justify-content-center">
      <div class="card-columns">
        <% @posts.each do |post| %>
        <div class="card mb-4">
          <div class="card-block">
            <%= image_tag(post.image, class: "img-fluid") unless post.image.nil? %>
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-link"><%= link_to 'Read more', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div> <!-- /card-block-->
      </div><!-- /card-->
       <% end %>
    </div> <!-- /col-->
  </div> <!-- /row -->
</div> <!-- /container-posts-->
  <br>
  <div class="btn btn-light">
   <%= link_to 'New Post', new_post_path %>
  </div>
<br><br>
</section>
