<section class="container">
  <div class="posts">
    <% @posts.each do |post| %>
      <p class="date">
        <em><%= (post.created_at).strftime("%B %e, %Y") %></em>
      </p>
      <h2><%= post.title %></h2>
      <p><%= post.intro unless nil? %></p>
      <p><%= post.content.truncate(300) %></p>
      <p><%= link_to 'Read more', post %><% if can? :update, post %> | <%= link_to 'Edit', edit_post_path(post) %> | <% end %><% if can? :destroy, post %> <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></p>
      <hr>
    <% end %>
  </div> <!-- /container-posts-->
  <br>
  <div class="btn btn-light">
    <% if signed_in? %>
      <%= link_to 'New Post', new_post_path %>
    <% end %>
  </div>
<br><br>
</section>
